body {
  font-family: Arial, sans-serif;
  margin: 50px;
  text-align: center;
}
button {
  margin: 5px;
  padding: 10px;

.card
{
  padding: 2em;
  border: 2px solid black;
  border-radius: 25px 25px;
  width: 50%;
  margin: auto;
}